/********** Template CSS **********/
:root {
  --primary: #fe5d37;
  --light: #fff5f3;
  --dark: #103741;
}

body {
  font-family: "Inter", sans-serif !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.blog-lists,
.video-lists {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 25%));
  gap: 20px;
  flex-wrap: wrap;
}

.blog-list {
  height: 440px !important;
  background-color: #fff5f3 !important;
  border-radius: 10px;
  padding: 1rem;
}

.video-list {
  height: 360px !important;
  background-color: #fff5f3 !important;
  border-radius: 10px;
  padding: 1rem;
}

.blog-list img {
  width: 100% !important;
  object-fit: cover !important;
  height: 200px !important;
}

.blog-list h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 10px;
}

.blog-list p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Heading ***/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: "Inter", sans-serif !important;
}

h5,
h6,
.h5,
.h6 {
  font-weight: 600;
  font-family: "Inter", sans-serif !important;
}

.font-secondary {
  font-family: "Inter", sans-serif !important;
}

/*** Navbar ***/
.navbar .navbar-nav .nav-link {
  padding: 30px 10px;
  color: var(--dark);
  font-weight: 500;
  outline: none;
  font-size: 12px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 5px;
  transition: 0.5s;
}

.navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
    border-top: 1px solid #eeeeee;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    top: calc(100% - 15px);
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.header-carousel::before,
.header-carousel::after,
.page-header::before,
.page-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background: url(../img/bg-header-top.png) center center repeat-x;
  z-index: 1;
}

.header-carousel::after,
.page-header::after {
  height: 19px;
  top: auto;
  bottom: 0;
  background: url(../img/bg-header-bottom.png) center center repeat-x;
}

.article-img {
  height: 356px;
}

@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-carousel .owl-carousel-item p {
    font-size: 16px !important;
    font-weight: 400 !important;
    width: 100% !important;
    top: 60px !important;
  }

  .header-carousel .owl-carousel-item h1 {
    font-size: 30px;
    font-weight: 600;
    top: 20px !important;
  }
}

.header-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 45px;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/contacts.jpg) center center no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

/*** Facility ***/
.facility-item .facility-icon {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .facility-item .facility-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
} */

.facility-item .facility-icon span {
  position: absolute;
  content: "";
  width: 15px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
  left: auto;
  right: 0;
}

.facility-item .facility-icon i {
  position: relative;
  z-index: 2;
}

.service-bg {
  box-shadow: rgba(144, 173, 248, 0.25) 0px 9px 18px 0px;
  background-color: #fff;
  border-radius: 12px !important;
  padding: 20px;
  height: 210px;
}

.service-bg h3 {
  font-size: 20px;
}

.service .owl-carousel .owl-stage {
  padding: 10px 0 !important;
}

.facility-item .facility-text {
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 400 !important;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
  background: transparent;
}

/*** About ***/
.about-img img {
  transition: 0.5s;
}

.about-img img:hover {
  background: var(--primary) !important;
}

/*** Classes ***/
.classes-item {
  transition: 0.5s;
}

.classes-item:hover {
  margin-top: -10px;
}

/*** Team ***/
.team-item .team-text {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border: 17px solid var(--light);
  border-radius: 250px;
  transition: 0.5s;
}

.team-item:hover .team-text {
  border-color: var(--primary);
}

/*** Testimonial ***/
.testimonial-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .testimonial-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.testimonial-carousel .testimonial-item .border {
  border: 1px dashed rgba(0, 185, 142, 0.3) !important;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 45px;
  font-size: 20px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

.testimonial-carousels .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: -4%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousels .owl-next {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousels .owl-nav .owl-prev,
.testimonial-carousels .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 45px;
  font-size: 20px;
  transition: 0.5s;
}

.testimonial-carousels .owl-nav .owl-prev:hover,
.testimonial-carousels .owl-nav .owl-next:hover {
  background: var(--dark);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 45px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  border-color: var(--primary);
  background: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary) !important;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: #ffffff;
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
  color: var(--primary) !important;
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.council-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 50%));
  gap: 20px;
}

.course-list-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 100%));
  gap: 20px;
}

.council-item {
  box-shadow: rgba(144, 173, 248, 0.25) 0px 9px 18px 0px;
  background-color: #fff;
  border-radius: 12px !important;
  padding: 20px;
}

.council-item h3 {
  font-size: 22px;
}

.council-item b {
  font-weight: 500 !important;
  color: #000;
}

.team-item {
  box-shadow: rgba(144, 173, 248, 0.25) 0px 9px 18px 0px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  position: relative;
  height: 600px;
}

.team-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 999px;
  padding: 16px;
}

.team-item h4 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
}

.team-item h6 {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 0;
  text-align: center;
}

.team-texts {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 0 10px;
}

.team-link {
  position: absolute;
  bottom: 10px;
  z-index: 999;
}

@media (max-width: 1100px) {
  .blog-lists {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 100%));
  }
}

@media (max-width: 767px) {
  .blog-lists {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 100%));
  }
}

@media (max-width: 500px) {
  .blog-lists,
  .video-lists {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 400px));
    gap: 20px;
    flex-wrap: wrap;
  }

  .mission-list {
    padding: 10px !important;
  }
  .nav-language {
    margin-left: 0 !important;
  }

  .testimonial-carousels .owl-nav {
    left: -7%;
  }
  .testimonial-carousels .owl-nav .owl-next {
    height: 40px;
    width: 40px;
  }
  .testimonial-carousels .owl-nav .owl-prev {
    height: 40px;
    width: 40px;
  }

  .testimonial-carousels .owl-next {
    left: 14%;
  }
  .service-bg {
    height: 220px !important;
  }

  .council-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 100%));
  }
  .team-image {
    height: 340px !important;
  }
}
